{% extends 'pages/base.html' %} {% block title %} {{title}} {% endblock %} {%
block header_title %} {{subtitle}} {% block content %}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://static.djangoproject.com/img/logos/django-logo-positive.svg"
        class="img-fluid rounded-start"
      />
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>

        <p class="card-text">{{user.address}}</p>
        <p class="card-text">{{user.email_address}}</p>
        <p class="card-text">{{user.country}}</p>
      </div>

      <form action="{% url 'user_delete' id=user.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Delete user</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
